@model Persona
<h1>Informacion Controller -> View Model</h1>


@Html.ActionLink("TEXTO LINK","Action","Controller",new {variable1="valor1",variable2="valor2"})

@if(Model!=null){
<h2 style="color:blue">
    @Model.Nombre, @Model.Email, @Model.Edad
</h2>

}else{
    <h1>No hay Model</h1>
}
