<h1 style="color:blue">Informacion controller --> View</h1>
<h2 style="color:fuchsia">Nombre @ViewData["NOMBRE"]</h2>
<h2 style="color:plum">Edad @ViewData["EDAD"]</h2>
<h2 style="color:darkgreen">Dia Semana @ViewBag.DiaSemana</h2>


