<h1 style="color:blue">Vista Controller POST</h1>

<form method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" /><br/>
    <label>Email</label>
    <input type="text" name="email" class="form-control" /><br />
    <label>Edad</label>
    <input type="text" name="edad" class="form-control" /><br />
    <label>Aficiones</label>
    <input type="text" name="aficiones" class="form-control" /><br />
    <button class="btn btn-info">Enviar Informacion</button>

</form>
<h1 style="color:chocolate" >@ViewData["DATA"]</h1>
