<h1>SUMAR NUMEROS POST</h1>
<form method="post">
    <label>Numero 1</label>
    <input type="number" name="numero1" class="form-control" />
    <br />
    <label>Numero 2</label>
    <input type="number" name="numero2" class="form-control" />
    <button class="btn btn-danger">Sumar</button>
</form>
<h1 style="color:rebeccapurple">@ViewData["DATA"]</h1>
