<h1>Tabla multiplicar Simple</h1>

<form method="post">
    <label>Número</label>
    <input type="number" name="numero" class="form-control" />
    <button class="btn btn-info">
        Tabla multiplicar
    </button>
</form>
@if (Model != null)
{
    <ul>
        @foreach (int numero in Model)
        {
            <li>@numero</li>
        }
    </ul>
}
